<h1 class="text-center text-white heading mt-5">Keep track of applicaton activity</h1>

<div class="row holder d-flex justify-content-between m-auto col-sm-12 col-md-10 col-lg-8 mt-3">

  <div class="green col-sm-12 col-md-5 m-2 mb-5 links card d-flex justify-content-center align-items-center
         bg-dark mb-3" routerLink="/admin/users">
    <h2 class="text-center text-white"> List All Users</h2>
  </div>

  <div class="pink col-sm-12 col-md-5 m-2 links card d-flex justify-content-center align-items-center
         bg-dark mb-3" routerLink="/admin/work-items">
    <h2 class="text-center text-white">List All Workitems</h2>
  </div>

  <div class="gold col-sm-12 col-md-5 m-2 links card d-flex justify-content-center align-items-center
         bg-dark mb-3" routerLink="/admin/teams">
    <h2 class="text-center text-white">List all teams</h2>
  </div>

  <div class="purple col-sm-12 col-md-5 m-2 links card d-flex justify-content-center align-items-center
         bg-dark mb-3" routerLink="/admin/team/work-items">
    <h2 class="text-center text-white">List all team-review-requests</h2>
  </div>



</div>