<h1 class="text-white text-center">Invitation details</h1>

<div class="m-auto card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header text-center text-muted">
    {{this.message}}
  </div>
  <div class="card-body">
  </div>

  <div class="d-flex justify-content-between">
    <button class="btn btn-adminAccept" (click)="this.handleInvitation('accept')">Accept invitation</button>
    <button class="btn btn-adminReject" (click)="this.handleInvitation('decline')">Decline invitation</button>
  </div>
</div>