<h1 class="text-white text-center mt-5">Work Directory</h1>


<div class="holder row col-md-10 col-sm-12 m-auto d-flex align-items-center justify-content-center">

    <div class="green links d-flex align-items-center justify-content-center col-sm-12 col-md-12 col-lg-4 card text-white bg-dark mb-3 h-100 m-5"
        routerLink="/user/submit-work">
        <h2 class="text-center"> Open new document</h2>
    </div>

    <div class="pink links d-flex align-items-center justify-content-center col-sm-12 col-md-12 col-lg-4 card text-white bg-dark mb-3 h-100 m-5"
        routerLink="/user/documents/review-requests">
        <h2 class="text-center"> My Documents</h2>
    </div>

    <div class="gold links d-flex align-items-center justify-content-center col-sm-12 col-md-12 col-lg-4 card text-white bg-dark mb-3 h-100 m-5"
        routerLink="/user/documents/teams">
        <h2 class="text-center">Team Documents</h2>
    </div>

    <div class="purple links d-flex align-items-center justify-content-center col-sm-12 col-md-12 col-lg-4 card text-white bg-dark mb-3 h-100 m-5"
        routerLink="/user/documents/pending-review-requests">
        <h2 class="text-center">Pending Documents</h2>
    </div>

</div>